footer {
  background-color: pink;
  font-size: 1rem;
  padding-top: 10px;
  border-top: 1px solid bisque; }
  footer a {
    color: blue;
    font-size: 1.5rem;
    text-decoration: none; }

.contenedor_imagenes {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 12px; }

.contenedor_imagenes section {
  flex-basis: 20%;
  box-sizing: border-box;
  margin: 1rem;
  border-radius: 5px; }

.contenedor_imagenes section img {
  width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: middle; }

.contenedor_imagenes section p {
  text-align: center;
  font-size: 15px; }

.imagenes {
  width: 24rem;
  height: 24rem;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px; }

header {
  text-align: center;
  background-color: pink;
  color: #585656; }
  header nav {
    background-color: #b6eeee; }
  header .logo {
    height: 300px;
    height: 300px; }
  header .imgcarousel {
    height: 350px;
    object-fit: cover; }

main {
  background-color: pink; }

.twitter {
  text-decoration: none;
  color: #585656;
  padding-bottom: 20px; }

.facebook {
  text-decoration: none;
  color: #585656;
  padding-bottom: 20px; }

.instagram {
  text-decoration: none;
  color: #585656;
  padding-bottom: 20px; }

.linkedin {
  text-decoration: none;
  color: #585656;
  padding-bottom: 20px; }

section {
  background-color: pink;
  text-align: start;
  font-size: 1.5rem; }

.texto {
  font-size: 1rem;
  background-color: pink;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #585656;
  margin-left: 10px; }

.logo {
  padding-bottom: 15px;
  padding-top: 15px; }

.estefi {
  padding-top: 10px;
  color: #585656;
  font-size: 1rem;
  text-align: justify; }

.imgcarousel {
  height: 350px;
  object-fit: cover; }

.fondo {
  background-color: pink;
  text-align: center;
  font-size: 1rem; }

.titulo {
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #585656;
  padding-top: 10px;
  padding-left: 10px; }

.padding {
  padding-top: 10px;
  background-color: pink;
  font-size: 1rem; }

.fotoEstefi {
  height: 25%;
  width: 25%;
  display: flex;
  position: relative;
  padding-bottom: 10px;
  left: 500px; }

.fotoPanaderia {
  height: 25rem;
  width: 25rem; }

@media (min-width: 435px) and (max-width: 850px) {
  .fotoEstefi {
    left: 200px;
    height: 50%;
    width: 50%; } }

@media (min-width: 1px) and (max-width: 434px) {
  .fotoEstefi {
    height: 40%;
    width: 40%;
    left: 100px; }
  .EstiloContacto {
    margin-left: 5px;
    margin-top: 5px; } }
