
.contenedor_imagenes {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 12px;
}


.contenedor_imagenes section {
    flex-basis: 20%;
    box-sizing: border-box;
    margin: 1rem;
    border-radius: 5px;
}

.contenedor_imagenes section img {
width: 100%;
height: auto;
object-fit: cover;
vertical-align: middle;

}

.contenedor_imagenes section p {

text-align: center;
font-size: 15px;
}
.imagenes {
    width: 24rem;
    height: 24rem;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
