
main {
    background-color: $color-principal;
}



.twitter {
    text-decoration: none;
    color: $color-secundario;
    padding-bottom: 20px;
    
    
}

.facebook {
    text-decoration: none;
    color: $color-secundario;
    padding-bottom: 20px;
    
}

.instagram {
    text-decoration: none;
    color: $color-secundario;
    padding-bottom: 20px;
    
}

.linkedin {
    text-decoration: none;
    color: $color-secundario;
    padding-bottom: 20px;
    
}

section {
    background-color: $color-principal;
    text-align: start;
    font-size: $tam-fuente;

      
    
}



.texto {
    font-size: 1rem;
    background-color: $color-principal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: $color-secundario;  
    margin-left: 10px;
}



.logo {
    padding-bottom: 15px;
    padding-top: 15px;
    
}

.estefi {
    padding-top: 10px;
    color: $color-secundario;
    font-size: 1rem;  
    text-align: justify;
        
}

.estefi2 {
    @extend .estefi;
    padding-left: 10px;
}

.imgcarousel {
    height: 350px;
    object-fit: cover;
    
}

.fondo {
    background-color: $color-principal;
    text-align: center;
    font-size: 1rem;
    
}


.titulo {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $color-secundario;  
    padding-top: 10px;
    padding-left: 10px;
    
}

.padding{
    padding-top: 10px;
    background-color: $color-principal;
    font-size: 1rem;
    
}

.fotoEstefi {
    height: 25%;
    width: 25%;
    display: flex;
    position: relative;
    padding-bottom: 10px;
    left: 500px;
    
   
}

.fotoPanaderia {
    height: 25rem;
    width: 25rem;
}