footer {
    
    background-color: pink;
    font-size: 1rem;
    padding-top: 10px;
    border-top: 1px solid bisque;
    
    
    

    a {
        color: blue;
        font-size: $tam-fuente;
        text-decoration: none;
        
    }

    
    
}