header {
    text-align: center;
    background-color: pink;
    color: rgb(88, 86, 86);   



    nav {
        background-color: rgb(182, 238, 238);
        
          

    }

    .logo { 
        height: 300px;
        height: 300px;

    }

    .imgcarousel {
        height: 350px;
        object-fit: cover;
              
        
        
    }  

}