

@import "variable";
@import "footer";
@import "cajitaspanaderia";
@import "header";
@import "datos";




@media (min-width:435px) and (max-width:850px) {
    .fotoEstefi {
        left: 200px;
        height: 50%;
        width: 50%;
    }
   
}

@media (min-width:1px) and (max-width:434px) {
    .fotoEstefi {
        height: 40%;
        width: 40%;
        left: 100px;
    }

    .EstiloContacto {
        margin-left: 5px;
        margin-top: 5px;
    }

}
